.card-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    padding: 0;
}

.table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    font-size: 14px;
}

th {
    text-align: left;
}
