{% extends 'base_front.html.twig' %}

{% block title %}Hello FrontOffice/ProductSingleController!{% endblock %}

{% block body %}
    <h1>Create new Agriculteur</h1>

    {{ include('agriculteur/_form.html.twig') }}

    <a href="{{ path('app_agriculteur_index') }}">back to list</a>
{% endblock %}
