{% extends 'base_front.html.twig' %}

{% block title %}Create New Enchere{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Create New Enchere</h1>

        <!-- Include the form, make sure '_form.html.twig' has Bootstrap styling -->
        {{ include('enchere/_form.html.twig') }}

        <div class="mt-4">
            <a href="{{ path('app_enchere_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
{% endblock %}
