{% extends 'base_front.html.twig' %}
{% block title %}Nouvelle  Voiture{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Créer une nouvelle Voiture</h1> 
        {{ include('voiture/_form.html.twig') }}

    <div class="text-center mt-3">
        <a href="{{ path('app_voiture_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
    </div>
{% endblock %}
