{% extends 'base_front.html.twig' %}

{% block title %}Hello FrontOffice/ProductSingleController!{% endblock %}

{% block body %}
    <h1>Edit ProduitEnchere</h1>

    {{ include('produit_enchere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_enchere_index') }}">back to list</a>

    {{ include('produit_enchere/_delete_form.html.twig') }}
{% endblock %}
